<div class="widget">
  <a href="https://unkle.sandbag-helpdesk.com/support/home" target="_blank" class="widget-contact-external">CONTACT US</a>
</div>

<style type="text/css">
    .widget a {
      position: fixed;
      right: 0;
      cursor: pointer;
      background: white;
      padding: 10px 20px;
      right: -35px;
      top: 40%;
      color: #2b2d2f;
      text-decoration: none;
      border-radius: 10px 10px 0 0;
      transform: rotate(270deg);
    }
    .widget a:hover {
      opacity: .75;
    }   
</style>