{% capture class %}{{ popover }}{% endcapture %}

<div class="popover-circle {{ class }}" style="cursor:help">

  <span class="question-icon">
    {% comment %}<i class="fa fa-newspaper-o"></i>{% endcomment %}
 {% comment %}   <p>Newsletter</p>{% endcomment %}
  </span>  
  <div class="popover-content" style="display: none; padding: 0;">
    {% comment %}<i class="fa fa-arrow-down animated infinite pulse"></i>{% endcomment %}
  </div>

</div>



<style type="text/css">
  
.alert + .form-group, .socialSignInBox + .form-group {
    margin-top: 0 !important;
}
.wrapper {
    padding: 0px 20px !important;
}
</style>