/*================================
==================================
GENERAL/FONTS/COLORS
==================================
================================*/

@font-face {
      font-family: 'Plantin';
      src: url('ufonts.com_plantin.ttf') format("truetype");
      font-weight: normal;
      font-style: normal; 
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Bold.woff2') format('woff2'),
        url('Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedMedium.woff2') format('woff2'),
        url('Futura-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-Medium.woff2') format('woff2'),
        url('Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('Futura-Medium.eot?#iefix') format('embedded-opentype'),  url('Futura-Medium.woff') format('woff'), url('Futura-Medium.ttf')  format('truetype'), url('Futura-Medium.svg#Futura-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-MediumItalic.woff2') format('woff2'),
        url('Futura-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('Futura-CondensedExtraBold.woff2') format('woff2'),
        url('Futura-CondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'alternategothic2_btregular';
    src: url('alternate_gothic_no2_bt-webfont.woff2') format('woff2'),
         url('alternate_gothic_no2_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goboldregular';
    src: url('gobold_regular-webfont.woff2') format('woff2'),
         url('gobold_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_boldregular';
    src: url('gobold_bold-webfont.woff2') format('woff2'),
         url('gobold_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	 font-family: 'IBM Plex Sans','Source Sans Pro', sans-serif;
    font-style: normal;
	font-weight: normal;
	font-size: 16px; 
}

.timer-wrapper{
  display:none;
	margin-bottom: 80px;
    margin-top: -20px;
    text-align: center;
    .timer-container {
    	display:inline-block;
    	background-color:#000;
		padding:10px 15px;
		// border:1px solid #fff;
    }
    h1 {
    	margin-top:0;
    	color:#fff;
        font-size: 2.25em; 
    }
  span {
	color:#fff;
	margin-right:4px;
	font-size:18px;
	text-transform:uppercase;
  }
  strong {
    margin-right:5px;
  }
}
.template-product {
  #product-wrap {
    margin-top:0;
  }
  #wrap {
        margin-top: 127px;
  } 
  .timer-wrapper {
    margin-bottom:0;

  }
}
#product-details span.price-field {
    font-size: 21px;
}
body hr, body .page-header, body .collection--header .collection--intro>h1, .collection--header body .collection--intro>h1, body .collection--header .collection--intro>h2, .collection--header body .collection--intro>h2, body .thumbnail, body .product-thumbnail, body .collection-thumbnail, body .well {
	 font-family: 'IBM Plex Sans','Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
        text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, #shappify_count_down, .events .event h1, .feature-has-icon .feature-icon, .h4, .share-icons, .product-price, .events .event h2, .h5, .h6,
#navbar-top, #navbar-footer, #navbar-main {
	font-family: 'IBM Plex Sans','Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
      background-color: #1f1e1c;
    color: #d9d9d9;
}
.video-container {
  margin-bottom:30px;
}
.collection__feature-image {
  margin-bottom:30px;
}

.widget a {
  background:#efabc2!important;
  color:#fff!important
}
.newsletter-container {
text-algin:center;
}

.newsletter-container h2 {
  color:#efabc2;
text-align:center;
}
.newsletter-container a {
text-align:center;
}
.newsletter-container #mc-embedded-subscribe {
    padding: 5px 10px;
margin-top:15px;
    margin-bottom: 15px;
    text-decoration: none;
    display:block;
    border: 1px solid #fff;
    color: #fff;
    background: #efabc2;
    background-color: #efabc2!important;
}
.newsletter-container .policy {
text-align:center;
display:block;
}
.newsletter-container #mce-COUNTRY {
color:#000;
}
.newsletter-container #mce-COUNTRY {
  width:100%;
}
/*================================
==================================
  LOGO
==================================
================================*/

  img.top-navbar-img {
      padding-top: 10px;
      max-width: 525px;
/*       top: 35px !important; */
      position: relative;
    display:inline-block;
  }

.label-unavailable {
      border-radius: 50%;
    width: 39px;
    height: 39px;
      background: #FFF;
    color: #000;
  position:absolute;
  right:-5px;
  top:-5px;
  font-size:12px;
  z-index:20;
  padding:7px;
}
/*================================
==================================
Banner 
==================================
================================*/
.cta-banner {
   	background: #ffffff;
	width:100%;
    // background: #8e8d3382;
	padding:5px 0;
	text-align:center; 
	h2 {
		text-transform: uppercase!important;
		/*font-family: 'Helvetica'!important;*/
		
		color:#000000;
		font-size:16px;
	}
}

/*================================
==================================
NAVIGATION
==================================
================================*/
@media (max-width:767px) {
body.has-top-navbar.has-fixed-top-navbar {
    padding-top: 0!important;
}
.navbar-fixed-top, .navbar-fixed-bottom {
position: relative !important;
}
}
  .navbar-default {
      // background-color: #00000069;
      background-color: #000;
      border-color: #000;
      border: none;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
      background: none;
  }
  .cartCount .badge {
      background: none;
  }
  nav#navbar-top .container {
      width: 100%;
  }
  .navbar-default .navbar-nav>li>a {
    color:#EFABC2;
  }
  .cart-btns {
  	a {
		background:#f3eede;	
		color:#000!important;
		&:hover {
			border-color:#f3eede;
			background:#000;	
			color:#f3eede!important;
		}
  	}
  }
  #navbar-top {
  	text-align:center;	
  }
.navbar-collapse {
  position:relative;
}
.navbar-left {
  float:none!important;
  display:inline-block;
}
.navbar-right{
  top:0;
  position:absolute;
  right:0;
}
  .middle-header {
  	diplay:inline-block;
  }
.social-icons {

    display:block;
    padding: 10px 0; 
  width:100%;
  text-align:center;
}

.social-links {
  display:inline-block;
  margin:0 auto;
/* 	margin:0 auto 20px;
	display:block;
	position: relative;
    top: 50px; */
    /*margin-bottom: 50px;*/

}
.social-links a {
    /*color:  #fff;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 5px;
    text-align:center;
    margin:0 5px;
    font-size:2em;
    text-decoration:none;*/
    color: #fff!important;
    background: transparent;
/*     border: 2px solid #fff; */
    border-radius: 50%;
    font-size:30px;
/*     padding: 0.2em; */
    height: 40px;
    width: 40px;
    margin: 0 0.5em;
    padding:3px;
  	float:left;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  i {
    color:#fff !important;
    padding:5px;
  }
}

.social-links a:hover{
	color: #fff;

    background: transparent;
    i {
    	color:#ccc !important;
    }
}

.btn-main, .btn-primary{
	background:#efabc2;	
	color:#fff;
  background-color:#efabc2!important;	
	-webkit-transition: all .45s ease-out;
    -moz-transition: all .45s ease-out;
    -ms-transition: all .45s ease-out;
    -o-transition: all .45s ease-out;
    transition: all .45s ease-out;
}

.btn-main:hover, .btn-primary:hover, .btn-main:active, .btn-primary:active, .btn-main:focus, .btn-primary:focus{
	background-color:#000;
	color:#fff;
	-webkit-transition: all .45s ease-out;
    -moz-transition: all .45s ease-out;
    -ms-transition: all .45s ease-out;
    -o-transition: all .45s ease-out;
    transition: all .45s ease-out;
    border: 1px solid #f3eede !important;
}
.dropdown-menu {
	background-color:#1f1e1c;
  border-color:#1f1e1c;
}
  .cart-dropdown.dropdown-menu {
    color:#efabc2
  }
  .cart-dropdown.dropdown-menu a {
    color:#efabc2
  }
  .btn.ajax-cart-btn {
    background-color:#efabc2!important;
    color:#fff!important;
  }
  .btn.ajax-cart-btn:hover {
    background-color:#fff!important;
    color:#efabc2!important;
  }
/*================================
==================================
	NEWSLETTER POPOVER
==================================
================================*/
.popover-circle {
    /*position: absolute;*/
    top: 15px;
    right: 33.5em;
}

.popover-circle p {
    display: inline;
}

.popover-content {
    position: absolute;
    width: 390px;
    z-index: 999;
    background-color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 5px;
    -webkit-box-shadow: 0px 15px 40px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 15px 40px -10px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 40px -10px rgba(0,0,0,0.5);

}
.popover-content h1 {
    position: absolute;
    top: 0;
    left: 33px;
    font-size: 1.5rem;
}

.popover-content i.fa.fa-arrow-down {
    position: absolute;
    top: 3rem;
    font-size: 2rem;
    color: #15B6C8;
    right: 19rem;
}

.popover-circle i.fa.fa-newspaper-o {
    padding-right: 10px;
    font-size: 1.5rem;
    display: inline;  
} 

.popover-content div {
    background-color: rgba(237, 237, 245, 0.48);
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    width: 100%;
}

.popover-circle.visible-xs {
    left: 70px;
}

.popover-circle.visible-xs .popover-content {
    top: 4rem;
    left: -70px;
}

span.question-icon {
	// border: 1px solid #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    /*padding: 6px 12px;*/
}

#width-class{
	width:365px;
	height:700px;
}

.nav-newsletter {
		float: left;
		margin-top:15px;
		margin-left: 10px;
		// margin-left: -55px;
  // position:absolute;
		a {
			border:1px solid #fff;
			text-transform:uppercase;
			padding:10px 15px;
		}
	}

.template-cart {

		#yt-iframe {
			display:none;
		}

}

#yt-iframe {
	display:none;
	text-align:center;
	margin:0 auto;
	iframe{
		width:560px;
		height:315px;
	}
}

@media (max-width:767px) {
	#yt-iframe .ytplayer-player-inline {
			height: 225px!important;
			width:360px;
		
	}

	#yt-iframe {
	text-align:center;
	margin:0 auto;
		iframe{
			width:400px;
			height:215px;
		}
	}
}

/*================================
==================================
HOME
==================================
================================*/
#product-list .product-price, #cart-wrap .product-price{
	text-align: center;
}

.grid-wrapper {
	position: relative;
	min-height: 1000px;
    max-width: 1260px;
    margin: 0 auto;
    // overflow-x: hidden;
	.home-grid {
    	width: 24%;
    	float: left;
		position: absolute;
		padding:0;
		.product-thumbnail {
			position: relative;
			a {
				position: absolute;
				top:0;
				width:100%;
				height:100%;
			}
		}
		.thumbnail-image {
			
		}
		img {
		    width: auto;
		    max-width: 100%;
		    margin-left: 0!important;
		     margin-top:0!important;
		    width: 100%!important;
		    height: auto!important;			
		}
		.caption {
			// opacity: 0;
		 //    position: absolute;
		 //    z-index: 1000;
		 //    width: 100%;
		 //    text-align: center;
		 //    padding-top: 20px;
		 //    top:0;
			
		    .product-title {
		    	// margin-top:98%;
		    }

		}
	    .details {
	    	top:100%;
			opacity: 0;
			position: absolute;
			z-index: 1000;
			width: 100%;
			text-align: center;
			padding-top: 20px;
			height:auto;
	    }
		&:hover {
			.caption {
				opacity:1;
			}
			.details {
				opacity:1;
			}
			.thumbnail-image{
				opacity: 0.2;
			}			
		}
	}
	.home-grid {
		.thumbnail-image {
			width: 100%;
			min-height: 300px;
		}
		.caption {
		    .product-title {
		    	// margin-top:73%;
		    }
		}
	}
	.width-two {
		width: 50%;
		.thumbnail-image {
			width: 100%;
			    min-height: 628px;
		}
		.caption {
		    .product-title {
		    	margin-top:95%;
		    }
		}
	}
	.home-grid:nth-child(4n+1) {
		left:0%;
		top:0;
	}
	.home-grid:nth-child(4n+2) {
		// left: 26%;
		left: 52%;
   		top: 0px;
	}
	.home-grid:nth-child(4n+3){
		// left: 52%;
		left: 78%;
    	top: 0px;
	}
	.home-grid:nth-child(4n+4) {
		// top: 308px;
		top: 658px;
	}
	.home-grid:nth-child(4n+5) {
	    left: 51.9844%;
		// top: 654px;
		top: 330px;
	} 
	.home-grid:nth-child(4n+6) {
		// left: 77.9767%;
		left: 25.9767%;
		top: 658px;
	}

	.home-grid:nth-child(4n+7){
		left: 52%;
    	top: 960px;
	}
	.home-grid:nth-child(4n+8) {
    	top: 960px;
	}

	.product-price .money{
		color: #fff !important;
	}

}




/*.home-grid:hover{
	opacity: 0.2 !important;
}
*/
.product-price .money{
	color: #fff !important;
}

/*.home-grid .details{
 	margin-top: -200px;
}

.width-two .details{
	margin-top: -400px !important;
}*/


@media(min-width: 767px){
	.home-grid .details{
 	margin-top: -200px;
}

.width-two .details{
	margin-top: -400px !important;
}
}

@media (max-width:767px ) {
	.grid-wrapper {
		.home-grid {
		.product-thumbnail {
			position: relative;
			a {
				position:relative;
				top:0;
				width:100%;
				height:100%;
			}
		}
			.details {
				 padding-top: 0;
		    	top:100%;
				opacity: 1;
				position:relative;
				z-index: 1000;
				width: 100%;
	    	}
		}
	}
}


.lifestyle-wrapper {
	.lifestyle-img {
		img {
		    width: auto;
		    max-width: 100%;
		    margin-left: 0!important;
		     margin-top:0!important;
		    width: 100%!important;
		    height: auto!important;			
		}
	}
	.product-thumbnail {
		.caption {
	    	height: auto!important;
	    	position: absolute;
	    	bottom: 26px;
	    	min-height:45px;
		}	
	}
}

.lifestyle-showcase-wrapper {
    padding-left: 54px;
    padding-right: 54px;
     max-width: 1678px;
   	text-align:center;
	.product-wrap {
    width:100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: top;
    margin-bottom: 55px;
    
	
		a {
			color:#000;
			width:100%;
			height:100%;
			display:block;
			text-align:left;
		}	    
	    .product-content {
	    	width: 100%;
	    	float: none;
	    	text-align:center;
	    	h3 {
				color:#000;
	    	}
	    }
	    .shop-now {
	    	margin-top:15px;
	    	float: none;
	    	width:100%;
	    	text-align:center;
	    }
	
	}
}
	.product-thumbnail .caption {
      h4.product-title {
        margin-top:20%;
      }
      h4.product-title,
      .product-price,
      .product-price .money {
        text-align:center;
        float:none;

      }
    }
@media (max-width:767px) {

	.grid-wrapper {
		.home-grid {
			width:100%;
			position: relative;
			float: left;
			left:0!important;
			top:0!important;
			.caption {
				position: relative;
				opacity:1;
				margin-top:0;
			    .product-title {
			    	margin-top:0;
			    }
			}
		}
		.width-two {
			width:100%;
			left:0!important;
			
		}
		.home-grid:nth-child(4n+3){
    		// top: 316px;
		}
	}
	.life-style-wrapper {
		.product-thumbnail {
			.caption {
				position: relative;
		    	bottom:0;
			}	
		}
	}
	.lifestyle-showcase-wrapper {
		.product-wrap {
			padding:0 40px;
			width:100%;
		}
	}	
}
/*================================
==================================
Carousel
==================================
================================*/

.bleed-carousel {
	position: relative;
/* 	margin-top:-55px; */
}
/* .carousel {
    margin-bottom: 0;
} */

/*================================
==================================
NAV
==================================
================================*/

/*================================
==================================
PRODUCT
==================================
================================*/


.template-product-tab-product {
	.tab-product-wrapper {
		.container {
			padding-left:0;
			padding-right:0;
		}
	}
	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
				background-color:#000;
				color:#fff;
	}
	.nav-item {
		a {
			border:1px solid #000;
			transition: all ease-out;
		}

	}
	.product-variants{
		visibility: hidden;
		    height: 0;
    overflow: hidden;
	}	
	.product-main-thumb {
		display:none;
	}
}

#product-wrap, #cart-wrap{
	margin-top: 50px;
}

	.cassette {
		.product-variants{
		label {
			display:none;
		}	
		}

	}
.btn-main.disabled {
	background: #efabc2!important;
    color: #fff!important;
  opacity:0.5;
}

.template-product,
.template-product-tab-product {
	.compare-at-price {
		display:none!important;
	}

	/*#purchase {
		background:#f3eede;	
		color:#000;
		&:hover {
			background-color:#000;
			color:#fff;
		}
	}*/

}

.ajax-cart-message {
  background-color:#000;
  a {
    text-transform:lowercase!important;
  }
}

// Full-width Thumbnails 
.fullwidth-thumbs {
	.thumbnail-image,
	.product-main-image {
		img {
			width:100%!important;
		}
	}
	.product-sticky.fixed {
		width:33%;
		h1 {
			margin-top:130px;
		}
	}
}

.cell{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


#product-form .selector-wrapper.form-group label {
    display: none;
}

/*================================
==================================
COLLECTIONS
==================================
================================*/
.collection--intro, .collection--intro h1 {
    margin: 0 !important;
    text-align: center;
}
.tabs-collection-wrapper {
		.nav-item {
			a {
				background-color:#fff;
				color:#000;
				border:1px solid #000;
				transition: all ease-out;
			}
			&.active {
				a {
					background-color:#000;
					color:#fff;
				}

			}
		}
  		.thumbnail-image {
			a {
				opacity: 1!important;
				height:auto!important;
				img {
				display: block!important;
				width:auto!important;
				max-width: 100%!important;
				height: auto!important;
				margin-left: auto!important;
				margin-right: auto!important;
				}
			}
		}
		.tab-content {
			padding:0 0 1em;
			h4, p {
				color:#000;
			}
			.product-details {

				text-align: left;
			}
			.product-title,
			.product-price {
					text-align: left!important;
			}
		}
		.tab-pane {
			padding:20px;
			opacity: 0;
			transition: all ease-out;
			&.active {
				background-color: #fff;
				opacity: 1;
				h4,p {
					color:#000;
				}
				
				.product-price .money {
					color:#fff!important;
				}
				button {
					background-color:#000;
					color:#fff;
				}
			}
		}
}		
@media (max-width:767px) {
	.tabs-collection-wrapper {
		.nav-item {
			width:100%;
			&.active {
				a {
				background-color:#000!important;
				color:#fff!important;
				}

			}
		}
	}
}
.text-center{
	color: #fff;
}

/*================================
==================================
CART/CHECKOUT
==================================
================================*/
.template-cart {
	h1,h2,h3,h4,small,.money {
		
		text-transform:lowercase!important;
	}
.text-center {
color:#efabc2;
}
	.btn,
	.form-control  {
		text-transform:lowercase!important;
	}
	.form-control {
		color:#efabc2;
		border-color:#000;
	}
    .form-control{
    color:#efabc2;
    }
.product-price .money {
color:#efabc2!important;
}
}

#address_zip::placeholder{
	color: #efabc2;
}

.checkout-recc{
	border:1px solid #000;
	padding: 15px;
	margin-top: 30px;
	.product{
		float: left;
		margin-left: 30px;
	}
	img{
		margin: 0 auto;
	}
	p, h4{
		text-align:center;
	}
}

/*================================
==================================
FOOTER
==================================
================================*/
.footer {
color:#efabc2!important;
	a.footer-links {
		margin:0 4px;
      color:#efabc2;
	}
	a,small {
			color:#efabc2;
	}
  small {
color:#efabc2!important;
  }
}
.footer .social-links a,
.footer .social-links i {
  color:#efabc2!important;
}
.footer-credits a.btn-main {
  padding:5px 10px;
  margin-bottom:15px;
  text-decoration:none;
  display:inline-block;
  border:1px solid #fff;
  color:#fff;
  background-color:#efabc2;
  
}
.footer-credits .btn-main:hover {
   background-color: #a5a5a5;
}
/*================================
==================================
MEDIA QUERIES
==================================
================================*/ 


@media (min-width:767px) { 
.navbar-text.navbar-right:last-child {
  margin-right:15px;
}
    
	.template-index {
		#wrap {
				margin-top:180px;
		}
	}
  	
	#wrap {
		margin-top:195px;
		.timer-wrapper {
			margin-bottom:20px;
			
		}
	}
	// #product-wrap {
	// 	margin-top:95px;
	// }
}
@media(max-width: 767px){
  .navbar-default .navbar-toggle .icon-bar {
		background-color: white;
  }	
	.template-product #wrap {
		margin-top: 0;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background: #000;
	}	  
  img.top-navbar-img {
      padding-top: 5px; 
      max-width: 250px;
      top: 25px !important;
      position: relative;


  }
  .social-links {
  	margin-bottom:45px;
  	a {
  		font-size:1.5em;
  	}
  }
	.navbar-toggle{
		float: left;
		margin-left: 10px;
	}
	
	.grid-wrapper { 
		min-height:1000px; 
	} 
	.home-grid { 
		.thumbnail-products {
			    background-size: inherit!important;
		}
		&.width-two {
			.thumbnail-image {
				width: 100%;
				min-height: 400px;
			}
		}

	}
}



#bold-modal__content {
  color:#000!important;
  .bold-upsell__intro {
    h1,p {
      color:#000!important;
    }

    .bold-product__control-label,
    .bold-product__quantity-field {
      color:#000!important;
    }
  }
}
	.bold-upsell__button--primary:link {
      color:#000!important;
    }

h1.bold-upsell__intro-heading {
    text-transform: capitalize !important; 
}
.product-variants {
	display:none;
 }

/*--------------------------------- added ------------------------*/
.fa {
  font-family: "goboldregular",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.question-icon p {
  font-weight: bold;
}

.navbar-left li a {
  font-weight: bold;
}

#product-details #product-form #quantity {
  background: #f3eede;
  color: black;
}

@media screen and (max-width: 500px) {
  ul.cart-dropdown.dropdown-menu {
    min-width: 300px;
  }
}

.btn-main, .btn-primary,
.template-product .ajax-cart-message a:hover,
#product-details #product-form #quantity,
.cart-btns a{

	background-color: #a5a5a5;
}

.btn-main:hover, .btn-primary:hover, .btn-main:active, .btn-primary:active, .btn-main:focus, .btn-primary:focus{
	border: 1px solid #a5a5a5 !important;
}

.btn-main,
.template-product .ajax-cart-message a,
.btn-primary, .quick-cart-btn.add-to-cart, .navbar-default .btn-signup, .footer__grid .btn-signup, .purchase-btn{
	border-color: #a5a5a5;
}
.template-product .ajax-cart-message {
color: #efabc2;
}
.template-product .ajax-cart-message a{
	color: #efabc2;
}

/*********************************
**********************************
    ACCOUNT PAGES
**********************************
*********************************/
    a.btn.btn-secondary {
        border: 1px solid;
    }
	section#login-form .container, section#register .container {
	  padding: 0;
	}
	@media (max-width: 767px) {
	  section#login-form .container, section#register .container {
	      padding: 0 15px;
	  }	  	
	}